@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #080808;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  margin-inline: 85px;
  padding-block: 24px;
  padding-inline: 95px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.links a {
  font-family: IBM Plex Mono;
  color: #9c9c9c;
  text-decoration: none;
  padding-inline: 20px;
}
.icons img {
  padding-inline: 10px;
}
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 180px;
  margin-top: 80px;
  margin-bottom: 57px;
  color: white;
}
#pfp {
  height: 350px;
  width: 350px;
  border-radius: 300px;
  margin-left: 78px;
}
.Name-Bio h1 {
  font-family: Raleway;
  font-weight: bolder;
  font-size: 44px;
  margin-bottom: 10px;
}
.Name-Bio p {
  font-family: IBM Plex Mono;
  font-weight: normal;
  font-size: 14px;
  color: #9c9c9c;
}
.Name-Bio button {
  margin-top: 30px;
  padding-block: 21px;
  padding-inline: 65px;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  background-color: #3f8e00;
  font-family: IBM Plex Mono;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.tools {
  color: white;
  margin-inline: 180px;
  margin-bottom: 45px;
}
.tools h3 {
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}
.toolbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tool {
  display: flex;
}
.tool p {
  font-family: Raleway;
  font-size: 16px;
  color: #525252;
}
.tool img {
  height: 60px;
}

.recent-work {
  background-color: #ffffff;
  padding-top: 80px;
}
.rw-text {
  margin-bottom: 60px;
  padding-inline: 355px;
}
.rw-text h3 {
  font-family: Raleway;
  font-size: 34px;
  text-align: center;
}
.rw-text p {
  font-family: IBM Plex Mono;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.rw-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: 180px;
}
.rw-card {
  width: 445px;
  /* height: 494px; */
}
.rw-card img {
  width: 445px;
  height: 300px;
  margin-bottom: 40px;
}
.rw-card h3 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: bolder;
}
.rw-card p {
  width: 445px;
  margin-block: 20px;
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: normal;
  color: #9c9c9c;
}
.rw-card button {
  padding-block: 10px;
  padding-inline: 24px;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  background-color: #3f8e00;
  font-family: IBM Plex Mono;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 80px;
}
.testimonials {
  padding-block: 80px;
  padding-inline: 180px;
  color: #ffffff;
}
.t-text {
  text-align: center;
  padding-inline: 175px;
}
.t-text h3 {
  font-family: Raleway;
  font-size: 34px;
  font-weight: bolder;
}
.t-text p {
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  color: #9c9c9c;
}
.t-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.t-card {
    border: 1px solid;
    border-image: linear-gradient(to right, #9c9c9c, #080808) 1;
    padding: 30px;
    margin-top: 60px;
    position: relative;
}

.msg{
    font-family: IBM Plex Mono;
    font-size: 14px;
    color: #9c9c9c;
    margin-bottom: 30px;
}
.quote{
    font-family: Raleway;
    font-size: 100px;
    color: #ffffff;
    position: absolute;
    top: -32px;
    left: 10px;
}
.client-info{
    display: flex;
    align-items: center;
}
.client-info img{
    height: 50px;
    border-radius: 50px;
}
.client-info h4{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

footer{
    background-color: #1b1b1b;
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-text{
    margin-inline: 355px;
}
footer h3{
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
}
footer p{
    color: #9c9c9c;
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}